.row:after,
.row:before{
	clear:both;
	display:block;
	content:'';
}
.container{
	width:1200px;
	margin:0 auto;
}
.contact-section{
	background:white;
	padding:80px 0;
	position:relative;
	padding-left: 400px;
}
.contact-section .contact-form{
	padding-top:50px;

}
.contact-info h1,
.contact-form h1{
	color:teal;
	font-size:30px;
	text-transform:capitalize;
	margin-top: 0;
}
.contact-info table{
	width:100%;
}
.contact-info table tr td{
	padding-bottom:15px;
}
.contact-info table tr td:firt-child{
	font-weight:bold;
	text-transform:capitalize;
	width:30%;
}

.contact-form.input-group{
	padding-bottom:20px;
}
.contact-form label{
	display:block;
	font-weight:700px;
	font-size:18px;
	text-transform:caplitalize;
	margin-bottom:10px;
}
.contact-form input,
.contact-form textarea{
	width:400px;
	padding:15px 30px;
	border-radius:15px;
	outline:0;
}
.contact-form textarea{
	height:150px;
}
.contact-form button{
	background:teal;
	color:white;
	text-transform:uppercase;
	line-height:1;
	padding:15px 45px;
	outline:0;
	border-radius:15px;
}
	