.progress{
	background: #eee;
	height: 10px;
	position: relative;
}
.progress .progress-bar{
	height:10px;
	background-color:teal;
	position: absolute;
	left: 0;
	top: 0;
}
.progress .progress-bar span{
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 1px solid ;
	background: white;
	border-radius: 100%;
	color: teal;
	margin-right: 4px;
	line-height:40px;
	margin-right:5px;
	text-align:center;
	font-size:15px;
	
}
.progress .progress-bar span{
	position:relative;
	left:93%;
	top:-18px;
}
.progress:after{
	display:block;
	content:"";
}	
.skills label{
	display: block;
	margin: 15px 0;
}